#gameTitle {
  text-align: center;
}

#gameContainer {}

body {
  background: #111;
  color: #f8f8f8;
}

canvas {
  background: #f8f8f8;
  position: absolute; 
  top: 0px; 
  left: 0px; 
  right: 0px; 
  bottom: 0px; 
  margin: auto; 
  border:2px
}
