#gameTitle {
  text-align: center;
}

#gameContainer {}

body {
  background: #111;
  color: #f8f8f8;
}

canvas {
  background: #f8f8f8;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 1rem;
  display: block;
}
